<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SolutionFolder" value="C:\Source"/>
		<add key="OctopusEndpoint" value=""/>
		<add key="OctopusApiKey" value=""/>
		<add key="ConfigurationPath" value=""/>
		<add key="Environment" value=""/>
	</appSettings>
</configuration>