<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="solutionsFoldeer" value="C:\Source"/>
		<add key="octopusEndpoint" value=""/>
		<add key="octopusApiKey" value=""/>
		<add key="configurationPath" value=""/>
		<add key="octopusEnvironment" value=""/>
	</appSettings>
</configuration>